body {
    background: #FFFFFF;
    margin: 2em 0;
  }

.formulario {
    width: 300px;
    padding: 50px 20px;
    border-radius: 20px;
    margin: 20px auto 20px;    
    background: linear-gradient(#534dc9, #39a58f, #6e1366);
    box-shadow: 5px 10px 5px 10px #3f3030;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    position: relative;
}

.login{
   margin: 0 0 15px 0;
   font-size: 2em;
   font-weight: bold;
}

.caja{
    width: 94%;
    padding: 7px;
    margin:  0 0 10px;
}

.genero{
    width: 100%;
    padding: 7px;
    margin:  0 0 1em;

}

#ingresar{
    position: absolute;
    bottom: 10px;
    right: 40px;
    border-radius: 2px;
    padding: 5px 15px 5px 15px;
}

@media(max-width: 768px){
    .formulario{
        width: 100%;
    }
}